<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.4/index.global.min.js'></script>
  </head>
  <body>
    <div id="container">
        <div id='calendar'></div>
    </div>
    <script src="js/test.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </body>
</html>